*{
    margin: 5px;
}
body{
    text-align: center;
}
.center{
    text-align: center;
    margin: auto;
    width: 50%;
}

input #email,#password{
    padding: 10px;
}
form{
    text-align: center;
}

